<html>
<head>
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  height:89%;
  right: 1px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  overflow: auto;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 5px solid black;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-popup1 {
    display: none;
    position: fixed;
    bottom:29%;
    width: 25%;
    height:60%;
    right: 10%;
    border: 3px solid #fffbfb;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container1 {
    padding: 10px;
    width: 100%;
    height:100%;
    background-color: rgb(244, 243, 243);
    overflow: auto;
  }
  .form-popup2 {
    display: none;
    position: fixed;
    bottom:0%;
    width: 25%;
    height:80%;
    right: 0%;
    border: 3px solid #f9f9f9;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container2 {
    padding: 10px;
    width: 100%;
    height:100%;
    background-color: rgb(209, 208, 208);
  }
  .open-button {
    background-color: rgb(224, 220, 220);
    color: rgb(16, 16, 16);
    padding: 5px 6px;
    border: none;
  }
  .form-container3 {
    padding: 5px;
    width: 100%;
    height:80%;
    background-color: rgb(254, 250, 250);
    overflow: auto;

  }

</style>
</html>